################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FPTPlay (2).zip
/FPTPlay.zip
